body {
    background: #ECEEF1 !important;
    color: #4C4C4C;
}
.header-section {
    margin-top: 7px;
}
.top-section {
    height: 15%;
}
.align-center{
    text-align: center;
}
.inline{
    display: inline;
}
.top-section-margin{
    margin: 5% 5px 5% 5px;
}
.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-section {
}
.footer-section {
    background-color: purple;
    height: 20%;
}
.right-align {
    float: right !important
}
.nav li {
    justify-content: left
}
.nav li a {
    margin-top: -27px;
    font-size: .8em;
    padding-left: 0px !important;
}
.nav li p {
    font-size: .9em;
}
.nav li.nav-item {
    margin-right: 7px
}
span.lock-icon {
    height: 1em;
    width: .8em;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    background-image: url(../images/lock-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.form {
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(199, 199, 199);;
    padding: 31px;
    width: 376px;
    background: rgb(255, 255, 255);
}
input {
    border-radius: 2px !important
}
.form-top {
    text-align: center;
}
.form-top p:first-child {
    font-size: 24px;
}
.form-top p:last-child {
    font-size: 14px;
}